

Label.title {
    -fx-font-size: 2em;
}

Label.subTitle {
    -fx-font-size: 1.5em;
}

.rootMenu {
    -fx-fill: yellow;
    -fx-border-stroke: green;
    -fx-padding: 5;
}

.rootMenuItem {
    -fx-font-size: 1.4em;
    -fx-alignment: center;
    -fx-background-color: derive(goldenrod, +10%);
}

.rootMenuItem:hover {
    -fx-background-color: derive(goldenrod, +20%);
}

.gpForm {
    -fx-padding: 5 10 10 5;
}

.formInfoLabel {
    -fx-font-size: 0.8em;
}

.centeredColumn {
    -fx-alignment: CENTER;
}

.leftAlignedColumn {
    -fx-alignment: CENTER-LEFT;
}

.rootOrderFormsGridPane {
    -fx-padding: 10 5 5 5;
}